{{ define "main" }}
<div class="container">
    <section class="categories">
        <h1>Categories</h1>
        <ul>
            {{ range .Pages }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ if .Params.composition }}
                <!-- Check if this page is composed of fragments -->
                {{/* Special case: Don't show the count for composition pages */}} {{ else }} {{ if gt (len .Pages) 0 }}
                <!-- Check if there are sub-pages -->
                ({{ len .Pages }}) {{ end }} {{ end }}
            </li>
            {{ end }}
        </ul>
    </section>
</div>
{{ end }}
